<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.panjx.clouddrive.mapper.FileMapper">
    <select id="findByFileSHA256" resultType="com.panjx.clouddrive.pojo.UserFile">
        select * from file where file_sha256 = #{fileSHA256}
    </select>
    <select id="findByFileId" resultType="com.panjx.clouddrive.pojo.UserFile">
        select * from file where file_id = #{fileId}
    </select>
    <select id="findByUserFileId" resultType="com.panjx.clouddrive.pojo.UserFile">
        select
            *
        FROM
            user_file
        where
            id = #{id}
    </select>
    <select id="findByPid" resultType="com.panjx.clouddrive.pojo.UserFile">
        select * from user_file where file_pid = #{filePid}
    </select>
    <select id="findUserFileById" resultType="com.panjx.clouddrive.pojo.UserFile">
        select * from user_file where id = #{id}
    </select>

    <insert id="addUserFile" parameterType="com.panjx.clouddrive.pojo.UserFile" useGeneratedKeys="true" keyProperty="id">
        insert into user_file(user_id, file_id, file_name, file_extension, file_pid, folder_type, delete_flag, recovery_time, create_time, last_update_time)
        values (#{userId}, #{fileId}, #{fileName}, #{fileExtension}, #{filePid}, #{folderType}, #{deleteFlag}, #{recoveryTime}, #{createTime}, #{lastUpdateTime})
    </insert>
    <insert id="addFile" parameterType="com.panjx.clouddrive.pojo.UserFile" useGeneratedKeys="true" keyProperty="fileId">
        insert into file(
            file_md5, 
            file_sha1, 
            file_sha256,
            file_category,
            storage_id,
            file_size, 
            file_cover, 
            refer_count, 
            status, 
            transcode_status, 
            create_time, 
            last_refer_time
        )
        values (
            #{fileMD5}, 
            #{fileSHA1}, 
            #{fileSHA256},
            #{fileCategory},
            #{storageId}, 
            #{fileSize}, 
            #{fileCover}, 
            #{referCount}, 
            1, 
            #{transcodeStatus}, 
            #{fileCreateTime}, 
            #{fileCreateTime}
        )
    </insert>

    <delete id="deleteUserFile">
        delete from user_file where id = #{id}
    </delete>
    
    <update id="increaseReferCount">
        update file set refer_count = refer_count + 1 ,last_refer_time=#{lastReferTime} where file.file_id = #{fileId}
    </update>
    
    <update id="decreaseReferCount">
        update file set refer_count = refer_count - 1 where file_id = #{fileId}
    </update>
    
    <update id="markFileAsToBeDeleted">
        update file 
        set status = 2 
        where file_id = #{fileId} and refer_count = 0
    </update>

    <update id="markFileAsNotToBeDeleted">
        update file
        set status = 1
        where file_id = #{fileId} and refer_count != 0
    </update>


    <select id="findByFilePid" resultType="com.panjx.clouddrive.pojo.UserFile">
        select
            *
        from
            user_file uf
        LEFT JOIN file f ON uf.file_id = f.file_id
        where
            file_pid = #{filePid}
    </select>
    
    <select id="findAllByFilePidRecursive" resultType="com.panjx.clouddrive.pojo.UserFile">
        WITH RECURSIVE folder_contents (id, user_id, file_id, file_name, file_extension, file_pid, folder_type, delete_flag) AS (
            SELECT id, user_id, file_id, file_name, file_extension, file_pid, folder_type, delete_flag
            FROM user_file
            WHERE file_pid = #{folderId}
            UNION ALL
            SELECT uf.id, uf.user_id, uf.file_id, uf.file_name, uf.file_extension, uf.file_pid, uf.folder_type, uf.delete_flag
            FROM user_file uf
            JOIN folder_contents fc ON uf.file_pid = fc.id
            WHERE fc.folder_type = 1
        )
        SELECT fc.*, 
               f.file_md5 as fileMD5,
               f.file_sha1 as fileSHA1,
               f.file_sha256 as fileSHA256,
               f.file_category as fileCategory,
               f.storage_id as storageId,
               f.file_size as fileSize,
               f.file_cover as fileCover,
               f.refer_count as referCount,
               f.status,
               f.transcode_status as transcodeStatus,
               f.create_time as fileCreateTime,
               f.last_refer_time as lastReferTime 
        FROM folder_contents fc
        LEFT JOIN file f ON fc.file_id = f.file_id
    </select>

    <update id="moveFile">
        update user_file 
        set file_pid = #{targetFolderId}, 
            last_update_time = unix_timestamp(now()) * 1000
        where id = #{fileId}
    </update>
    
    <select id="checkIsChildFolder" resultType="com.panjx.clouddrive.pojo.UserFile">
        WITH RECURSIVE folder_path (id, file_name, file_pid) AS (
            SELECT id, file_name, file_pid
            FROM user_file
            WHERE id = #{targetFolderId} AND folder_type = 1
            UNION ALL
            SELECT uf.id, uf.file_name, uf.file_pid
            FROM user_file uf
            JOIN folder_path fp ON uf.file_pid = fp.id
            WHERE uf.folder_type = 1
        )
        SELECT * FROM folder_path WHERE id = #{folderId}
    </select>
    
    <update id="updateFavoriteFlag">
        update user_file 
        set favorite_flag = #{favoriteFlag}, 
            last_update_time = unix_timestamp(now()) * 1000
        where id = #{id}
    </update>

    <select id="getFavoriteFiles" resultType="com.panjx.clouddrive.pojo.UserFile">
        select
            uf.*,
            f.file_md5 as fileMD5,
            f.file_sha1 as fileSHA1,
            f.file_sha256 as fileSHA256,
            f.file_category as fileCategory,
            f.storage_id as storageId,
            f.file_size as fileSize,
            f.file_cover as fileCover,
            f.refer_count as referCount,
            f.status,
            f.transcode_status as transcodeStatus,
            f.create_time as fileCreateTime,
            f.last_refer_time as lastReferTime
        from
            user_file uf
        LEFT JOIN file f ON uf.file_id = f.file_id
        where
            uf.user_id = #{userId} AND
            uf.favorite_flag = 1 AND
            uf.delete_flag = 0
        order by 
            uf.last_update_time desc
    </select>
    
    <select id="searchFiles" resultType="com.panjx.clouddrive.pojo.UserFile">
        WITH RECURSIVE folder_contents (id, user_id, file_id, file_name, file_extension, file_pid, folder_type, delete_flag, favorite_flag, create_time, last_update_time) AS (
            <if test="folderId != null">
                SELECT id, user_id, file_id, file_name, file_extension, file_pid, folder_type, delete_flag, favorite_flag, create_time, last_update_time
                FROM user_file
                WHERE file_pid = #{folderId} AND user_id = #{userId} AND delete_flag = 0
                UNION ALL
                SELECT uf.id, uf.user_id, uf.file_id, uf.file_name, uf.file_extension, uf.file_pid, uf.folder_type, uf.delete_flag, uf.favorite_flag, uf.create_time, uf.last_update_time
                FROM user_file uf
                JOIN folder_contents fc ON uf.file_pid = fc.id
                WHERE fc.folder_type = 1 AND uf.user_id = #{userId} AND uf.delete_flag = 0
            </if>
            <if test="folderId == null">
                SELECT id, user_id, file_id, file_name, file_extension, file_pid, folder_type, delete_flag, favorite_flag, create_time, last_update_time
                FROM user_file
                WHERE user_id = #{userId} AND delete_flag = 0
            </if>
        )
        SELECT DISTINCT fc.*, 
               f.file_md5 as fileMD5,
               f.file_sha1 as fileSHA1,
               f.file_sha256 as fileSHA256,
               f.file_category as fileCategory,
               f.storage_id as storageId,
               f.file_size as fileSize,
               f.file_cover as fileCover,
               f.refer_count as referCount,
               f.status,
               f.transcode_status as transcodeStatus,
               f.create_time as fileCreateTime,
               f.last_refer_time as lastReferTime 
        FROM folder_contents fc
        LEFT JOIN file f ON fc.file_id = f.file_id
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND (
                fc.file_name LIKE CONCAT('%', #{keyword}, '%')
                OR fc.file_extension = #{keyword}
            )
        </if>
        ORDER BY fc.folder_type DESC, fc.last_update_time DESC
    </select>

    <select id="findUserFilesByIds" resultType="com.panjx.clouddrive.pojo.UserFile">
        select
            uf.*,
            f.file_md5 as fileMD5,
            f.file_sha1 as fileSHA1,
            f.file_sha256 as fileSHA256,
            f.file_category as fileCategory,
            f.storage_id as storageId,
            f.file_size as fileSize,
            f.file_cover as fileCover,
            f.refer_count as referCount,
            f.status,
            f.transcode_status as transcodeStatus,
            f.create_time as fileCreateTime,
            f.last_refer_time as lastReferTime
        from
            user_file uf
        LEFT JOIN file f ON uf.file_id = f.file_id
        where
            uf.id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        order by 
            uf.folder_type DESC, uf.last_update_time DESC
    </select>

</mapper>