<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panjx.clouddrive.mapper.UserMapper">
    <!-- 根据用户名查询用户 -->
    <select id="findByUsername" resultType="com.panjx.clouddrive.pojo.User">
        SELECT
            *
        FROM 
            user
        WHERE 
            user_name = #{username}
    </select>

    <!-- 根据用户ID查询用户 -->
    <select id="findById" resultType="com.panjx.clouddrive.pojo.User">
        SELECT
            *
        FROM
            user
        WHERE
            user_id = #{userId}
    </select>

    <!-- 注册新用户 -->
    <insert id="add" parameterType="com.panjx.clouddrive.pojo.User">
        INSERT INTO user (user_name, nick_name, email, identity, avatar, password, register_time, last_login_time, status, used_space, total_space)
        VALUES (#{username}, #{nickname}, #{email}, #{identity}, #{avatar}, #{password}, #{registerTime}, #{lastLoginTime}, #{status}, #{usedSpace}, #{totalSpace})
    </insert>
    <!--更新用户使用空间-->
    <update id="updateUserSpace">
        UPDATE user
        SET used_space = used_space + #{space}
        WHERE user_id = #{userId}
    </update>
    
    <!--更新用户信息-->
    <update id="updateUserInfo" parameterType="com.panjx.clouddrive.pojo.User">
        UPDATE user
        <set>
            <if test="nickname != null">nick_name = #{nickname},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
        </set>
        WHERE user_id = #{userId}
    </update>
    
    <!--更新用户密码-->
    <update id="updatePassword" parameterType="com.panjx.clouddrive.pojo.User">
        UPDATE user
        SET password = #{password}
        WHERE user_id = #{userId}
    </update>
    
    <!-- 查询所有用户 -->
    <select id="findAll" resultType="com.panjx.clouddrive.pojo.User">
        SELECT
            user_id as userId,
            user_name as username,
            nick_name as nickname,
            email,
            identity,
            avatar,
            register_time as registerTime,
            last_login_time as lastLoginTime,
            status,
            used_space as usedSpace,
            total_space as totalSpace
        FROM
            user
        ORDER BY
            register_time DESC
    </select>
    
    <!-- 根据邮箱查询用户 -->
    <select id="findByEmail" resultType="com.panjx.clouddrive.pojo.User">
        SELECT
            *
        FROM
            user
        WHERE
            email = #{email}
    </select>
    
    <!-- 管理员更新用户信息（可更新所有字段） -->
    <update id="updateUserInfoByAdmin" parameterType="com.panjx.clouddrive.pojo.User">
        UPDATE user
        <set>
            <if test="username != null">user_name = #{username},</if>
            <if test="nickname != null">nick_name = #{nickname},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="identity != null">identity = #{identity},</if>
            <if test="status != null">status = #{status},</if>
            <if test="totalSpace != null">total_space = #{totalSpace},</if>
        </set>
        WHERE user_id = #{userId}
    </update>
    
    <!-- 获取用户总数量 -->
    <select id="countAllUsers" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            user
    </select>
    
    <!-- 分页查询用户 -->
    <select id="getUsersByPage" resultType="com.panjx.clouddrive.pojo.User">
        SELECT user_id         as userId,
               user_name       as username,
               nick_name       as nickname,
               email,
               identity,
               avatar,
               register_time   as registerTime,
               last_login_time as lastLoginTime,
               status,
               used_space      as usedSpace,
               total_space     as totalSpace
        FROM user
        ORDER BY user_id
        LIMIT #{offset}, #{pageSize}
    </select>
</mapper> 